@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
:root {
  --bg-img: url();
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}
